html *
{
   font-size: 1em !important;
   font-family: Caveat !important;
}
body{
    background:url(assets/background.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
header{
    display: flex;
    height: 150px;
}
main{
    margin-top-top: 60px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    margin: auto;
}
.col{
    display: flex;
    gap: 20px;
}
.picture{
    width: 60px;
}
.icon{
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
::-webkit-input-placeholder{
    color: black;
}
.box {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid rgba(212, 146, 255, 0.6);
    width: 240px;
    height: 48px;
    margin: 10px auto;
    background: rgba(253, 208, 208, 0.5)
}
.box:focus-within{
    border: 2px solid rgba(154, 0, 255, 0.6);
}
textarea:focus, input:focus{
    outline: none;
}