{% extends 'base.html'%}
{% block body %}
    <main>
        <div class="main_page">
            <aside>
                <div class="side">
                    <a style="font-size: 20px; padding-left: 20px"> Жанры</a>
                    <form method="post" style="display: flex; flex-direction: column; gap: 5px">
                        {% for tag in tags %}
                            <label style="font-size: 15px; background: rgba(243,182,255,0.7); width: auto" class="card_tag">{{ tag }}<input type="checkbox" id="{{ tag }}"></label>
                        {% endfor %}
                        <button type="submit">Выбрать</button>
                    </form>
                </div>
            </aside>
            <div class="cards">
                {% for product in products %}
                    <div class="card" id="{{ product[0] }}">
                        <a class="card_title">{{ product[1] }}</a>
                        <a style="text-align: center"><img class="card_img" src="/static/css/assets/{{ product[4] }}.jpg" alt=""></a>
                        <a class="card_tags">
                            {% for tag in product[3] %}
                                <div class="card_tag">{{ tag }}</div>
                            {% endfor %}
                        </a>
                        <a class="card_annotation">
                            {{ product[2] }}
                        </a>
                        {% if current_user.is_authenticated %}
                            <div class="card_buttons" style="padding-top: 10px">
                                <button class="card_favorite" id="fav{{ product[0] }}" type="submit"><img src="/static/css/assets/addtofavorites.png" style="width: 30px"></button>
                                <button class="card_cart" id="cart{{ product[0] }}" type="submit"></button>
                            </div>
                        {% endif %}
                        <a style="text-align: center">{{ product[5] }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    <script>
        $('[id^=fav]').on('click', function () {
            let id = this.id.replace('fav', '')
            var data = {}
            $.ajax({
                url: '{{ url_for('add_to_fav', id = -1) }}'.replace('-1', id),
                method: 'get',
                dataType: 'html',
                data: data,
                success: function (data) {
                    data = JSON.parse(data)
                }
            })
        })
    </script>
    <script>
        $('[id^=cart]').on('click', function () {
            let id = this.id.replace('cart', '')
            var data = {}
            $.ajax({
                url: '{{ url_for('add_to_cart', id = -1) }}'.replace('-1', id),
                method: 'get',
                dataType: 'html',
                data: data,
                success: function (data) {
                    data = JSON.parse(data)
                }
            })
        })
    </script>
    </main>
{% endblock %}