{% extends 'base.html'%}
{% block body %}
    <main>
        <form class="reg_form" method="post" onsubmit="checkRegForm(event)">
            <input type="text" class="box" id="login" name="login" placeholder="Login">
            <input type="text" class="box" id="email" name="email" placeholder="mygmail@gmail.com">
            <input type="text" class="box" id="password" name="password" placeholder="Пароль">
            <input type="text" class="box" id="confirm_password" name="confirm_password" placeholder="Повтори пароль">
            <button class="box" type="submit">Зарегистрироваться</button>
        </form>
    </main>
{% endblock %}